<div class="asistenciaContainer">
    <div class="cajaTiempo">
        <ul>
            <h2>Asistencia</h2>
        </ul>
        <ul class="tabla-hora">

            <li>
                <label>Hora:</label>
            </li>
            &nbsp;
            <li>
                <div class="timer"> {{ rxTime | date: 'HH:mm:ss' }}</div>
            </li>
        </ul>
        <ul class="tabla-fecha">
            <li>
                <label>Fecha:</label>
            </li>
            &nbsp;
            <li>
                <div class="date"> {{ rxTime | date: 'dd-MM-yyyy' }}</div>
            </li>
        </ul>
        <ul>
            <li>
                <form class="boton-fichar" (ngSubmit)="fichar(rxTime)">
                    <input type="submit" value="Fichar">
                </form>
            </li>
            <li>
                <form class="boton-desconectar" (ngSubmit)="desconectar(rxTime)">
                    <input type="submit" value="Desconectar">
                </form>
            </li>
        </ul>
    </div>
    <br>
</div>