.router-link-active {
    font-weight: 600;
}

.navbar {
    background-color: burlywood;
}

.container-fluid {
    max-width: 60%;
    margin: 0 auto;
}

li {
    cursor: pointer;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-toggler:hover .navbar-toggler-icon:hover,
.fa-solid:hover {
    filter: brightness(1.2);
}