<nav>
    <div id="navbar">
        <div *ngIf="autenticado" class="listaNavLinks">
            <a href="#" class="logo">EmployeeMgmt</a>
            <a class="nav-mobile" (click)="toggleMenu()"><i class="fa-sharp fa-solid fa-bars"
                    [class.fa-fade]="menuAbierto"></i></a>
            <a class="close">x</a>
            <ul id="menu" [class.menu-abierto]="menuAbierto">
                <li>
                    <p routerLink="/home" routerLinkActive="router-link-active" href="#Inicio">Inicio</p>
                </li>
                <li>
                    <p routerLink="/empleados" routerLinkActive="router-link-active">Empleados</p>
                </li>
                <li>
                    <p routerLink="/asistencia" routerLinkActive="router-link-active">Asistencia</p>
                </li>
                <li>
                    <p routerLink="/peticiones" routerLinkActive="router-link-active">Peticiones</p>
                </li>
                <li>
                    <p routerLink="/noticias" routerLinkActive="router-link-active">Noticias</p>
                </li>
                <li>
                    <p routerLink="/admin" routerLinkActive="router-link-active">Administrador</p>
                </li>
                <li class="btn-salir">
                    <a style="cursor: pointer;" (click)="logout()">
                        Salir
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>