<nav>
    <div id="navbar">
        <div *ngIf="autenticado" class="listaNavLinks">
            <a href="#" class="logo">EmployeeMgmt</a>
            <a href="#menu" class="nav-mobile"><i class="fa-sharp fa-solid fa-bars"></i></a>
            <a href="#close" class="nav-mobile close">x</a>
            <ul id="menu">
                <li>
                    <a routerLink="/home" routerLinkActive="router-link-active" href="#Inicio">Inicio</a>
                </li>
                <li>
                    <a routerLink="/empleados" routerLinkActive="router-link-active">Empleados</a>
                </li>
                <li>
                    <a routerLink="/asistencia" routerLinkActive="router-link-active">Asistencia</a>
                </li>
                <li>
                    <a routerLink="/peticiones" routerLinkActive="router-link-active">Peticiones</a>
                </li>
                <li>
                    <a routerLink="/noticias" routerLinkActive="router-link-active">Noticias</a>
                </li>
                <li>
                    <a routerLink="/admin" routerLinkActive="router-link-active">Administrador</a>
                </li>
                <li class="btn-salir">
                    <a style="cursor: pointer;" (click)="logout()">
                        Salir
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>