/** VARIABLES **/
:root {
    --color-verde-oliva: darkolivegreen;
}


/** ESTILOS GENERALES **/

body {
    position: relative;
    background-color: rgb(236, 238, 239);
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-verde-oliva);
    color: white;
    text-align: center;
    padding: 10px 0;
}

table {
    margin-top: 10px;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

button,
input[type="submit"] {
    background-color: transparent;
    border-radius: 5px;
}

button:hover,
input[type="submit"]:hover {
    color: white;
    background-color: var(--color-verde-oliva);
    transition: 300ms;
}



/** PAGES **/
/*  ADMIN  */
.adminContainer {
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}


.resumen {
    width: 100%;
}


.empContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}


.totalEmp {
    border: 1px solid black;
    border-radius: 5px;
    width: 32%;
    padding: 10px;
    background-color: white;
}


.oficinaEmp {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 32%;
    background-color: white;
}


.fueraEmp {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 32%;
    background-color: white;
}


.empContainer .numero {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.fichados {
    margin-top: 50px;
}

.fichados tbody,
td,
tfoot,
th,
thead,
tr {
    padding: 15px;
}


.roles {
    margin-top: 50px;
}

.roles tbody,
td,
tfoot,
th,
thead,
tr {
    padding: 15px;
    border-radius: 5px;
}


/* ASISTENCIA  */
.boton-desconectar {
    margin-left: 5px;
}

.asistenciaContainer {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}


.date,
.timer {
    font-weight: 600;
}

.cajaTiempo {
    border-color: black 1px;
}



.cajaTiempo ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.cajaTiempo {
    display: inline-block;
}