/** VARIABLES **/
:root {
    --color-verde-azulado: rgba(75, 149, 179, 1);
    --gradiente-verde-azul: linear-gradient(90deg, rgba(75, 149, 179, 1) 0%, rgba(87, 199, 133, 1) 50%);
}


/** ESTILOS GENERALES **/
body {
    position: relative;
    background-color: rgb(236, 238, 239);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /*background-color: var(--color-verde-oliva);*/
    text-align: center;
    padding: 50px;
    background: var(--gradiente-verde-azul);
}

footer p,
footer a {
    color: black;
}

table {
    margin-top: 10px;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

button,
input[type="submit"] {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid darkgrey;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    color: white;
    background-color: var(--color-verde-azulado);
    transition: 300ms;
}


/** NAVBAR **/
.listaNavLinks {
    width: -webkit-fill-available;
    margin-left: 25%;
}

#navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    /*position: sticky;*/
    z-index: 1000;
    /* position: fixed; */
    width: 100%;
}

#navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar li {
    margin-left: 10px;
    padding: 20px;
}

.logo {
    padding: 20px;
    float: inline-start;
    font-weight: 800;
    font-family: 'roboto';
    font-size: larger;
    color: var(--color-verde-azulad);
}

.nav-mobile {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

.close {
    display: none;
}

#navbar a {
    text-decoration: none;
    color: black;
}

.router-link-active {
    color: rgb(7, 42, 95);
    font-weight: 700;
}


/** PAGES **/
/* HOME */
.homeContainer {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}

.homeContainer h2 {
    margin-top: 10%;
}

/* ADMIN */
.adminContainer {
    margin: 50px auto 150px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.resumen {
    width: 100%;
}

.empContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
}

.totalEmp,
.oficinaEmp,
.fueraEmp {
    border: 1px solid black;
    border-radius: 5px;
    width: 32%;
    padding: 10px;
    background-color: white;
}

.empContainer .numero {
    font-size: larger;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.fichados,
.roles {
    margin-top: 50px;
}

.fichados td,
.roles td {
    padding: 15px;
}

/* ASISTENCIA */
.boton-desconectar {
    margin-left: 5px;
}

.asistenciaContainer {
    max-width: 80%;
    margin: 10% auto 0;
    text-align: center;
}

.date,
.timer {
    font-weight: 600;
}

.cajaTiempo {
    display: inline-block;
}

.cajaTiempo ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/** RESPONSIVE **/
@media (max-width: 991.98px) {

    .listaNavLinks {
        margin-left: 0;
    }

    .logo {
        float: none;
    }

    .nav-mobile {
        display: inline-block;
    }

    .close {
        display: none;
    }


    #navbar ul {
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-out;
        background: var(--gradiente-verde-azul);
        font-weight: bold;
    }

    #navbar ul.menu-abierto {
        max-height: fit-content;
        overflow-y: auto;
    }

    ul.menu-abierto {
        max-height: 100vh;
        overflow-y: auto;
    }

    #navbar li {
        padding: 0px;
        padding: 5px;
    }

    #navbar p {
        margin-top: 10px;
    }

    #navbar ul li {
        border-bottom: 1px solid black;
        margin-top: 0 auto;
        padding: none;
        margin-left: 0px;
        padding-left: 8px;
    }

    #navbar ul li:last-child {
        border-bottom: none;
    }

    #navbar ul li:hover {
        background-color: var(--color-verde-azulado);
        transition: 300ms;
        color: bisque;
    }

    .router-link-active {
        color: bisque;
        font-weight: 700;
    }



}